README.md

{{- if eq .chezmoi.os "windows" }}
.bash_aliases
.bashrc
.local/share/fonts
.zprofile
.zshrc
.config/helix
.config/yazi
.config/kitty
.chezmoiscripts/linux/**
{{- end }}

{{- if eq .chezmoi.os "linux" }}
AppData
Documents
.chezmoiscripts/windows/**
{{- end }}