README.md

{{- if eq .chezmoi.os "windows" }}
.bash_aliases
.bashrc
.local/share/fonts
.zprofile
.zshrc
.config/helix
.config/yazi
.config/kitty
{{- end }}

{{- if eq .chezmoi.os "linux" }}
AppData
Documents
{{- end }}