{{- if eq .chezmoi.os "darwin" -}}
# Check if Scoop is installed
if (!(Get-Command scoop -ErrorAction SilentlyContinue)) {
    # Install Scoop
    Write-Output "Installing Scoop..."
    Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
    Write-Output "Scoop has been installed."
}
else {
    Write-Output "Scoop is already installed."
}

scoop import "https://gist.github.com/lounes37/6379fc796708ef0e1097fadca4bc5ea0/raw/scoop_apps.json"
{{- end }}