{{ if eq .chezmoi.os "darwin" -}}

# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
    $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
    Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
    Exit
  }
}


$json = @"
{{.packages | toPrettyJson}}
"@
$packageInfo = $json | ConvertFrom-Json


# Choco packages
choco upgrade {{ range .packages.chocolatey -}} {{.}} {{ end }} -y -s'https://chocolatey.org/api/v2/'

# Winget packages
winget install {{ range .packages.winget -}} {{.}} {{ end }} --accept-package-agreements --no-upgrade --accept-source-agreements --disable-interactivity --silent


{{ end -}}  
