{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Array of download URLs
DOWNLOAD_URLS=(
    "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
    "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Hack.tar.xz"
)

# Maximum number of download attempts
MAX_ATTEMPTS=2

# Iterate over the download URLs
for DOWNLOAD_URL in "${DOWNLOAD_URLS[@]}"; do
    # Get the font name from the URL
    FONT_NAME=$(basename "$DOWNLOAD_URL" .tar.xz)
    FONT_DIR="$HOME/.local/share/fonts/${FONT_NAME}Nerd"

    # Check if the font directory exists
    if [ -d "$FONT_DIR" ]; then
        read -p "The $FONT_NAME font is already installed. Do you want to remove and reinstall it? (y/n) " choice
        case "$choice" in
            y|Y)
                rm -rf "$FONT_DIR" 2>&1
                ;;
            n|N)
                continue
                ;;
            *)
                echo "Invalid choice, skipping $FONT_NAME..."
                continue
                ;;
        esac
    fi

    for ((ATTEMPT = 1; ATTEMPT <= MAX_ATTEMPTS; ATTEMPT++)); do
        curl -OL "$DOWNLOAD_URL" 2>&1 && break
        echo "Download attempt $ATTEMPT for $FONT_NAME failed. Retrying in 2 seconds..." 2>&1
        sleep 2
    done

    mkdir -p "$FONT_DIR" 2>&1

    # Extract the new files into the font folder and log the output
    tar -xJkf "$FONT_NAME".tar.xz -C "$FONT_DIR" 2>&1

    # Clean up the downloaded archive
    if [ -f "$FONT_NAME".tar.xz ]; then
        rm -r "$FONT_NAME".tar.xz 2>&1
    fi
done

# Update font cache and log the output
fc-cache -v 2>&1
{{- end }}